* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Overwrite bootstrap css to make the page width fit*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/*Overwrite bootstrap to make the pictures.html page flow better*/
.jumbotron {
  margin-bottom: auto;
}
/*Overwrite bootstrap to make home.html boxes have correct padding*/
.col {
  padding-left: 0;
  padding-right: 0;
}

.card-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


/* Responsive iFrame */
.google-calendar {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-left: 15%;
}
.google-calendar iframe {
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
}
/*
@media only screen and (max-width: 600px) {
  .google-calendar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  }
}
*/
