* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Overwrite bootstrap css to make the page width fit*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/*Overwrite bootstrap to make the pictures.html page flow better*/
.jumbotron {
  margin-bottom: auto;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.calendar iframe {
  margin-left: auto;
  margin-right: auto;
}
